<html>

<head>

	<title>My first web page for ROS!</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js">
	</script>

	<script src="https://cdn.jsdelivr.net/npm/eventemitter2@5.0.1/lib/eventemitter2.min.js">
	</script>

	<script type="text/javascript" src="mjpegcanvas.min.js">
	</script>

	<script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js">
	</script>

	<style type="text/css">

		#dragstartzone {
			position: relative;
			display: inline-block;
			width: 200px;
			height: 200px;
			border: 1px solid #333;
			border-radius: 50%;
			z-index: 10;
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
		}

		#dragCircle {
			position: absolute;
			z-index: 9;
			border: 1px solid transparent;
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 30%);
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
		}

		#dragCircle:hover {
			background-color: lightcoral;
		}

	</style>

</head>

<body class="d-flex flex-column h-100">

	<!-- header of the page -->
	<header class="header">
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Hello from PUC Minas!</h1>
				<p>Let's connect our website to a ROS robot!</p>
			</div>
		</div>
	</header>

	<!-- main content -->
	<main id="vueApp">

		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h4>{{ menu_title }}</h4>
							<hr>
							<label>ROSBridge address:</label>
							<br>
							<input type="text" v-model="rosbridge_address" />
							<br>
							<button class="mt-2 btn btn-success" v-if="connected"
								@click="disconnect">Connected!</button>
							<button class="mt-2 btn btn-primary" v-else @click="connect">Connect!</button>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<div class="card-body text-center">
							<h4 class="text-center">Joystick</h4>
							<hr>
							<p>Press and move the mouse below.</p>
							<p>Vertical value -> Linear velocity</p>
							<p>Horizontal value -> Angular velocity</p>
							<div id="dragstartzone" @mousedown="startDrag" @mousemove="doDrag">
							</div>
							<div id="dragCircle" :style="dragCircleStyle"></div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h4 class="text-center">Robot velocity</h4>
							<hr />
							<p>Linear: {{ joystick.vertical.toFixed(3) }}</p>
							<p>Angular: {{ joystick.horizontal.toFixed(3) }}</p>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="container">
			<div class="row">

				<div class="col-md-4 text-center">
					<div class="card">
						<div class="card-body">
							<h4>Camera</h4>
							<hr>
							<div id="divCamera"></div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h4 class="text-center">Robot position</h4>
							<hr />
							<p>X: {{ position.x.toFixed(2) }}</p>
							<p>Y: {{ position.y.toFixed(2) }}</p>
							<p>Z: {{ position.z.toFixed(2) }}</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h4>Training</h4>
							<hr>
							<button class="mt-2 btn btn-success" v-if="recording"
							@click="stop_record">Stop Record!</button>
						    <button :disabled='recordDisabled' class="mt-2 btn btn-primary" v-else @click="start_record">Record!</button>
							<br>
							<button class="mt-2 btn btn-success" v-if="moving"
							@click="stop_move">Stop Move!</button>
						    <button :disabled='moveDisabled' class="mt-2 btn btn-primary" v-else @click="start_move">Move!</button>
						</div>
					</div>
				</div>

			</div>
		</div>


	</main>

	<!-- footer -->
	<footer class="footer mt-auto bg-dark text-light">
		<div class="container">
			<h7>Author: Vinicius Abrao</h7>
		</div>
	</footer>

	<script src="main.js">
	</script>

</body>

</html>
